# 1. Introduction
Today I'll share with you how to build a [dumbbell chart](https://datavizproject.com/data-type/dumbbell-plot/#) by using *Matplotlib*. 

As [Tableau Playbook - Dumbbell Chart](https://www.pluralsight.com/guides/tableau-playbook-dumbbell-chart) tells:

> A dumbbell chart is a composite chart with **circles** and **lines**. It is ideal for **illustrating change** and **comparing the distance** between **two groups of data points**. The dumbbell chart has many aliases, such as DNA chart, gap chart, barbell chart, and connected dot plot.
>
> Like a lollipop chart, the dumbbell chart is used to **compare categorical data**. It uses circles to **highlight values** and bars to **measure the gap**.
>
> On the other hand, the end circle **overstates** the value and **blurs the boundary**. Moreover, the **lack of baseline** makes **precise comparison** more difficult.

From the concept and characteristics described above, a dumbbell chart is mainly used to compare the difference between two groups of categorical data points, where circles' position represents the absolute values in each group, and the bars or lines connecting the two circles to measure the gap by their length.

This example comes from the challenge [**#WOW2022 Week 32: Can you build a dumbbell chart?**](https://workout-wednesday.com/2022w32tab/). The original challege used *Tableau* as the visualization tool. In this practice, I try to re-produce by *Matplotlib* the dumbbell chart as same as possible with the *Tableau* counterpart. Without further ado, let's do it!

# 2. How to build it

First, we need to import some necessary libraries, such as `numpy`, `pandas`, `matplotlib`, etc.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Then, we need to load the data from [Teen-Tween_Smartphone_Ownership.xlsx](https://github.com/chenyulue/hands-on-datavis/raw/master/datasets/Teen-Tween_Smartphone_Ownership.xlsx).

In [3]:
data_file = 'https://github.com/chenyulue/hands-on-datavis/raw/master/datasets/Teen-Tween_Smartphone_Ownership.xlsx'
phone_ownership = pd.read_excel(data_file)
phone_ownership.head()

   Year  Age  Ownership
0  2015    8       0.11
1  2015    9       0.15
2  2015   10       0.19
3  2015   11       0.32
4  2015   12       0.41